.image{
    border-radius: 15px;
    background: white;
    padding: 10px;
    width: 300px;
    height: 250px;
  }


  .background {

    background-color: #755139FF;
  }

  * {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 350px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}


.container2 {
    text-align: center;
  }
  
  .myUL {
    display: inline-block;
    text-align: left;
  }

  .bigimage {
    border-radius: 10px 10px 10px;
    background: black;
    padding: 2px;
    width: 650px;
    height: 500px;
  }

    

  h1 { color: #F2EDD7FF; font-family: 'Lobster', cursive; font-weight:700; font-size: 75px; line-height: 100px; margin: 0 0 18px; text-shadow: 2px 3px 0 black }